
<div class="form-detail">

<div  class="container"  *ngIf="loggedUser!=null && form != null">
  <ul class="list-group">
    <div class="row">
      <div class="col">
        <li class="list-group-item active">Formulario de: {{form.name}}</li>
      </div>
    </div>
  <div class="row">
    <div class="col">
      <li class="list-group-item">Nombre: {{form.name}}</li>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <li class="list-group-item">Asunto: {{form.ask}}</li>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <li class="list-group-item">Email: {{form.email}}</li>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-danger" (click)="deleteClicked()">Borrar</button>
      </div>
    </div>
  </ul>
</div>
</div>

