<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="Experiencia">
  <h3 style="color:white">experiencia</h3>
</div>
<div class="container">
  <section >
    <br>
    <div class="section-title">
      <h3  class="text-center">Experiencia </h3>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 " style="">
        <div class="center">
          <div class="icon2">
            <img class="center-block" src="https://kingstudio.ro/demos/uniq/images/icons/navigator-icon.png" width="150" height="150"alt="">
          </div>
          <h4 class=text-center>Idiomas</h4>
          <div class="words wow fadeInUp text-justify">
            <ul>
            <li>12 meses de estudio en el extranjero en diferentes familias en Los Ángeles, Florida, Irlanda e Inglaterra (2014,2015,2016 y 2017).</li>
            <li>5 meses de academia de inglés en ESID Idiomas para preparación de Advance (2018).</li>
            <li>Curso intensivo de inglés de dos meses en verano en British Council.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="">
        <div class="center">
          <div class="icon2">
            <img src="https://kingstudio.ro/demos/uniq/images/icons/design-icon.png" width="150" height="150" alt="">
          </div>
          <h4 class=text-center>Desarrollo</h4>
          <div class="words lenguage wow fadeInUp text-justify">
            <ul>
              <li>Desarrollo full stack de mi propia pagina web (Html, Css, JavaScript, Angular y PHP).</li>
              <li>Desarrollo completo en equipo de una aplicacion para gestion de apuntes.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="">
        <div class="center">
          <div class="icon2">
            <img src="https://kingstudio.ro/demos/uniq/images/icons/atom-icon.png" width="150" height="150" alt="">
          </div>
          <h4 class=text-center>Cursos</h4>
          <div class="words lenguage wow fadeInUp text-justify">
            <ul>
              <li>Curso en Udemy de Html,Css y JavaScript (2019).</li>
              <li>Curso en U-tad de manejo de herramientas para  impresión 3D(2016).</li>
              <li>Curso en U-tad de introduccion a la ciberseguridad(2018).</li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>
</body>
</html>
